/* 상품 상세페이지 css */

/* 공통 - 버튼 클릭시 hover효과 */
button:hover {
  opacity: .7;
  transition: .3s;
}

.detail-wrap {
  display: flex;
  max-width: 1200px;
  margin: 50px auto 0;
}
.detail-wrap .left-box {
  width: 700px;
  margin-right: 50px;
}
.detail-wrap .left-box img {
  width: 100%;
}
.detail-wrap .right-box {
  width: calc(100% - 750px);
}
.detail-wrap .right-box .prod-cate {
  font-size: 1.7rem;
  color: #888;
}
.detail-wrap .right-box .prod-name {
  margin-top: 15px;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3;
}
.detail-wrap .right-box .price {
  margin-top: 20px;
}
.detail-wrap .right-box .price .per {
  margin-right: 10px;
  color: #f00;
  font-size: 2.2rem;
  font-weight: bold;
}
.detail-wrap .right-box .price .per em {
  font-style: normal;
}
.detail-wrap .right-box .price-box {
  margin-top: 20px;
  font-size: 2.2rem;
  font-weight: bold;
}
.detail-wrap .right-box .price-box .price-unit {
  font-size: 1.8rem;
  font-style: normal;
}
.detail-wrap .right-box .line-box {
  margin-top: 12px;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: line-through;
  color: #999;
}
.detail-wrap .right-box .line-box .price-unit {
  font-size: 1.5rem;
  font-style: normal;
}
/* 신발사이즈 선택 영역 */
.size-box {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top:1px solid var(--main-black);
  border-bottom:1px solid var(--main-black);
}
.size-box p {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
}
.size-box ul {
  display: flex;
  flex-wrap: wrap;
}
.size-box ul li {
  margin-right:2%;
  margin-bottom:10px; 
  padding: 15px 0;
  text-align: center;
  border: 1px solid #e6e6e6;
  box-sizing: border-box; 
  font-size: 1.6rem;
  flex-basis: 18.4%;
  flex-shrink: 1;
  /* flex-grow: 1; */
  background-color:#fff;
  border-radius:5px;
  cursor: pointer;
  transition: .3s;
}
.size-box ul li:nth-child(5n){
  margin-right: 0;
}
.size-box ul li.on, .size-box ul li:hover {
  border: 1px solid var(--main-black);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
/* 사이즈 가이드 버튼 */
.guide-btn {
  width: 100%;
  margin-top: 10px;
  padding: 15px 0;
  background-color: var(--main-black);
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}
.guide-btn svg{
  height: 17px;
  vertical-align: top;
  margin-right: 10px;
}
/* 총합계 영역 */
.total-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  letter-spacing: -.4px;
}
.total-box .title {
  font-size: 1.6rem;
  font-weight: bold;
}
.total-box .total-price strong {
  font-size: 2.6rem;
}
.total-box .total-price em {
  margin-left: 3px;
  font-size: 1.5rem;
  font-style: normal;
}
.buy-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  text-align: center;
}
.buy-btns .btn {
  width: 48.5%;
  height: 55px;
  margin-right: 3%;
  font-size: 1.6rem;
  color: #fff;
  background-color: var(--main-black);
  border-radius:10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.3);
  box-sizing: border-box;
}
.buy-btns .btn:last-child {
  margin-right: 0;
}
.buy-btns .cart {
  color: var(--main-black);
  background-color: #fff;
  border: 1px solid #eee;
  font-weight: 500;
}
.buy-btns .btn svg {
  height: 19px;
  margin-right: 8px;
  vertical-align: top;
}

/* 모달 팝업창 */
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 999;
}
.moder-inner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 750px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.4);
  background-color: #fff;
  overflow: hidden;
}
.moder-inner h3 {
  margin-bottom: 20px;
  font-size: 2.2rem;
  text-align: center;
}
.moder-inner .chart {
  height: 460px;
  overflow: auto;
}
.moder-inner .chart img {
  width: 100%;
}
.modal-close {
  position: absolute;
  top: 25px;
  right: 30px;
  z-index: 1;
}
.modal-close svg {
  height: 26px;
}


@media screen and (max-width: 1080px) {
  .detail-wrap {
    width: 100%;
  }
  .detail-wrap .left-box {
    width: 500px;
    margin-right: 30px;
  }
  .detail-wrap .right-box {
    width: calc(100% - 530px);
  }
}
@media screen and (max-width: 890px) {
  .detail-wrap {
    display: block;
  }
  .detail-wrap .left-box {
    width: 100%;
    margin-right: 0;
  }
  .detail-wrap .right-box {
    width: 100%;
    margin-top: 30px;
  }
  .detail-wrap .right-box .price {
    margin-top: 10px;
  }
  .detail-wrap .right-box .prod-cate {
    font-size: 1.5rem;
  }
  .detail-wrap .right-box .prod-name {
    margin-top: 6px;
    font-size: 1.8rem;
  }
  .detail-wrap .right-box .price-box {
    margin-top: 12px;
    font-size: 2rem;
  }
  .size-box ul li {
    font-size: 1.5rem;
  }
  .guide-btn {
    font-size: 1.5rem;
  }
  .total-box .total-price strong {
    font-size: 2.2rem;
  }
  .buy-btns .btn {
    font-size: 1.5rem;
  }
  .buy-btns .btn svg {
    height: 17px;
    margin-right: 5px;
  }
  .moder-inner {
    width: 90%;
    padding: 20px 15px;
  }
  .moder-inner h3 {
    margin-bottom: 15px;
    font-size: 1.8rem;
  }
  .moder-inner .chart {
    height: 360px;
  }
  .modal-close {
    top: 15px;
    right: 15px;
  }
  .modal-close svg {
    height: 23px;
  }
}
@media screen and (max-width: 340px) {
  .size-box ul li {
    flex-basis: 32%;
    font-size: 1.5rem;
  }
  .size-box ul li:nth-child(5n){
    margin-right: 2%;
  }
  .size-box ul li:nth-child(3n){
    margin-right: 0;
  }
}