/* 상품 상세페이지 css */

/* 공통 - 버튼 클릭시 hover효과 */
button:hover {
  opacity: .7;
  transition: .3s;
}

.detail-wrap {
  display: flex;
  max-width: 1200px;
  margin: 50px auto 0;
}
.detail-wrap .left-box {
  width: 700px;
  margin-right: 50px;
}
.detail-wrap .left-box img {
  width: 100%;
}
.detail-wrap .right-box {
  width: calc(100% - 750px);
}
.detail-wrap .right-box .prod-cate {
  font-size: 1.7rem;
  color: #888;
}
.detail-wrap .right-box .prod-name {
  margin-top: 15px;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3;
}
.detail-wrap .right-box .price {
  margin-top: 20px;
}
.detail-wrap .right-box .price .per {
  margin-right: 10px;
  color: #f00;
  font-size: 2.2rem;
  font-weight: bold;
}
.detail-wrap .right-box .price .per em {
  font-style: normal;
}
.detail-wrap .right-box .price-box {
  margin-top: 20px;
  font-size: 2.2rem;
  font-weight: bold;
}
.detail-wrap .right-box .price-box .price-unit {
  font-size: 1.8rem;
  font-style: normal;
}
.detail-wrap .right-box .line-box {
  margin-top: 12px;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: line-through;
  color: #999;
}
.detail-wrap .right-box .line-box .price-unit {
  font-size: 1.5rem;
  font-style: normal;
}
/* 신발사이즈 선택 영역 */
.size-box {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top:2px solid var(--main-black);
  border-bottom:2px solid var(--main-black);
}
.size-box p {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
}
.size-box ul {
  display: flex;
  flex-wrap: wrap;
}
.size-box ul li {
  margin-right:2%;
  margin-bottom:10px; 
  padding: 15px 0;
  text-align: center;
  border: 1px solid #e6e6e6;
  box-sizing: border-box; 
  font-size: 1.6rem;
  flex-basis: 18.4%;
  flex-shrink: 1;
  /* flex-grow: 1; */
  background-color:#fff;
  border-radius:5px;
  cursor: pointer;
  transition: .3s;
}
.size-box ul li:nth-child(5n){
  margin-right: 0;
}
.size-box ul li.on, .size-box ul li:hover {
  border: 1px solid var(--main-black);
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
/* 사이즈 가이드 버튼 */
.guide-btn {
  width: 100%;
  margin-top: 10px;
  padding: 15px 0;
  background-color: var(--main-black);
  color: #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  box-shadow: 0 3px 6px rgba(0,0,0,0.3);
}
.guide-btn svg{
  height: 17px;
  vertical-align: top;
  margin-right: 10px;
}
/* 총합계 영역 */
.total-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  letter-spacing: -.4px;
}
.total-box .title {
  font-size: 1.6rem;
  font-weight: bold;
}
.total-box .total-price strong {
  font-size: 2.6rem;
}
.total-box .total-price em {
  margin-left: 3px;
  font-size: 1.5rem;
  font-style: normal;
}
.buy-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  text-align: center;
}
.buy-btns .btn {
  width: 48%;
  height: 55px;
  margin-right: 4%;
  font-size: 1.6rem;
  color: #fff;
  background-color: var(--main-black);
  border-radius:10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.3);
  box-sizing: border-box;
}
.buy-btns .btn:last-child {
  margin-right: 0;
}
.buy-btns .cart {
  color: var(--main-black);
  background-color: #fff;
  border: 1px solid #eee;
  font-weight: 500;
}
.buy-btns .btn svg {
  height: 19px;
  margin-right: 8px;
  vertical-align: top;
}

/* 모달 팝업창 */
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 999;
}
.moder-inner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 750px;
  padding: 40px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.4);
  background-color: #fff;
  overflow: hidden;
}
.moder-inner h3 {
  margin-bottom: 20px;
  font-size: 2.2rem;
  text-align: center;
}
.moder-inner .chart {
  height: 460px;
  overflow: auto;
}
.moder-inner .chart img {
  width: 100%;
}
.modal-close {
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 3px 10px rgba(0,0,0,0.4);
  background-color: #fff;
  border-radius: 50px;
  z-index: 9;
  width: 45px;
  height: 45px;
}
.modal-close svg {
  height: 22px;
  vertical-align: middle;
}


@media screen and (max-width: 1080px) {
  /* .size-box ul {gap: 10px;}
  .size-box ul li {flex-basis: 31.3%;margin-right:0;margin-bottom:0;} */
}


/* 
.easyPayWrap .easyPayBox {margin: 0 -15px;padding:15px;}
.easyPayWrap .easyPayBox ul {display: flex;flex-wrap: wrap;box-sizing: border-box;}
.easyPayWrap .easyPayBox ul li {flex-basis: 32%;flex-shrink: 1;flex-grow: 1;margin-right:2%;margin-bottom:10px; box-sizing: border-box; border:1px solid #eee;background-color:#fff;border-radius:8px;cursor: pointer;z-index:10;}
.easyPayWrap .easyPayBox ul li:nth-child(3n) {margin-right:0;}
.easyPayWrap .easyPayBox ul li:nth-child(n+4) {flex-grow:inherit;}
.easyPayWrap .easyPayBox ul li .pay_label {margin:0;padding: 20px 10px;}
.easyPayWrap .easyPayBox ul li .icon {display: block; width: 60px;margin: 0 auto;text-align: center}
.easyPayWrap .easyPayBox ul li .icon.wi_size img {max-width: 30px;max-height: 30px;}
.easyPayWrap .easyPayBox ul li .icon img {width:100%;max-width:50px;max-height:40px;}
.easyPayWrap .easyPayBox ul li .tit {margin-top: 10px;text-align: center;font-size: 13px;line-height:1;color: #333;font-weight: 500;font-family:"Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;}

@media(max-width:310px){
	.easyPayWrap .easyPayBox ul {gap: 10px;}
	.easyPayWrap .easyPayBox ul li {flex-basis: 31.3%;margin-right:0;margin-bottom:0;}
	.easyPayWrap .easyPayBox ul li:nth-child(n+4) {flex-grow:1;}
}
*/