.detail-wrap {
  display: flex;
  max-width: 1200px;
  margin: 50px auto 0;
}
.detail-wrap .left-box {
  width: 700px;
  margin-right: 50px;
}
.detail-wrap .left-box img {
  width: 100%;
}
.detail-wrap .right-box {
  width: calc(100% - 750px);
}
.detail-wrap .right-box .prod-cate {
  font-size: 1.7rem;
  color: #888;
}
.detail-wrap .right-box .prod-name {
  margin-top: 15px;
  font-size: 2.4rem;
  font-weight: 500;
}
.detail-wrap .right-box .price {
  margin-top: 20px;
}
.detail-wrap .right-box .price .per {
  margin-right: 10px;
  color: #f00;
  font-size: 2.2rem;
  font-weight: bold;
}
.detail-wrap .right-box .price .per em {
  font-style: normal;
}
.detail-wrap .right-box .price-box {
  margin-top: 20px;
  font-size: 2.2rem;
  font-weight: bold;
}
.detail-wrap .right-box .price-box .price-unit {
  font-size: 1.8rem;
  font-style: normal;
}
.detail-wrap .right-box .line-box {
  margin-top: 12px;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: line-through;
  color: #999;
}
.detail-wrap .right-box .line-box .price-unit {
  font-size: 1.5rem;
  font-style: normal;
}
.size-box {
  margin-top: 30px;
}
.size-box p {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
}
.size-box ul {
  display: flex;
  flex-wrap: wrap;
}
.size-box ul li {
  width: 18.4%;
  margin-bottom: 10px;
  padding: 15px 0;
  margin-right: 2%;
  text-align: center;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  font-size: 1.6rem;
  cursor: pointer;
  box-sizing: border-box;
}
.size-box ul li:nth-child(5n){
  margin-right: 0;
}




/* 
.easyPayWrap .easyPayBox {margin: 0 -15px;padding:15px;}
.easyPayWrap .easyPayBox ul {display: flex;flex-wrap: wrap;box-sizing: border-box;}
.easyPayWrap .easyPayBox ul li {flex-basis: 32%;flex-shrink: 1;flex-grow: 1;margin-right:2%;margin-bottom:10px; box-sizing: border-box; border:1px solid #eee;background-color:#fff;border-radius:8px;cursor: pointer;z-index:10;}
.easyPayWrap .easyPayBox ul li:nth-child(3n) {margin-right:0;}
.easyPayWrap .easyPayBox ul li:nth-child(n+4) {flex-grow:inherit;}
.easyPayWrap .easyPayBox ul li .pay_label {margin:0;padding: 20px 10px;}
.easyPayWrap .easyPayBox ul li .icon {display: block; width: 60px;margin: 0 auto;text-align: center}
.easyPayWrap .easyPayBox ul li .icon.wi_size img {max-width: 30px;max-height: 30px;}
.easyPayWrap .easyPayBox ul li .icon img {width:100%;max-width:50px;max-height:40px;}
.easyPayWrap .easyPayBox ul li .tit {margin-top: 10px;text-align: center;font-size: 13px;line-height:1;color: #333;font-weight: 500;font-family:"Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;}

@media(max-width:310px){
	.easyPayWrap .easyPayBox ul {gap: 10px;}
	.easyPayWrap .easyPayBox ul li {flex-basis: 31.3%;margin-right:0;margin-bottom:0;}
	.easyPayWrap .easyPayBox ul li:nth-child(n+4) {flex-grow:1;}
}
*/