@charset "utf-8";
/* 공통모듈 CSS - common.css */

:root {
    --container-width:1580px;
    --main-black: #111;
}

html {
    font-size: 10px;
}

.clfix::after {
    display: block;
    content: '';
    clear: both;
}

.cap {
    text-transform: capitalize;
}

.hide {
    position: absolute !important;
    left: -99999px !important;
    opacity: 0;
    visibility: hidden;
}

/* 헤더 영역 */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: .15s;
}
.header.bgWhite {
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
}
.header.on {
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
}
.header .header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--container-width);
    margin: 0 auto;
}
.header .header-wrap .logo {
    width: 132px;
}
.header .header-wrap .logo img {
    width: 100%;
}
.header .header-wrap .pc-nav {
    margin-left: 90px;
}
.header .header-wrap .pc-nav .menu-list-wrap {
    display: flex;
}
.header .header-wrap .pc-nav .menu-list-wrap .menu-list > a {
    position: relative;
    padding: 0 30px;
    line-height: 100px;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: .3s;
}
.header .header-wrap .pc-nav .menu-list-wrap .menu-list:hover > a {
    color: #999;
}
.header .header-wrap .top-search {
    position: relative;
    display: inline-block;
    width: 220px;
}
.header .header-wrap .top-search .top-input-box {
    width: 100%;
    height: 40px;
    padding: 0 25px;
    border: 0;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 1.5rem;
}
.header.bgWhite .header-wrap .top-search .top-input-box {
    background-color: #e8e8e8;
}
.header.on .header-wrap .top-search .top-input-box {
    background-color: #e8e8e8;
}
.header .header-wrap .top-search .top-input-box::placeholder {
    color: #999;
}
.header .header-wrap .top-search .search-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    background-image: url(../images/common/icon_search.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    font-size: 0;
    cursor: pointer;
}
.header .header-wrap .top-icon a {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 25px;
    background-size: 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.header .header-wrap .top-icon a.user {
    background-image: url(../images/common/icon_user.png);
}
.header .header-wrap .top-icon a.cart {
    background-image: url(../images/common/icon_cart.png);
}
.header .header-wrap .top-icon .cart-cnt {
    position: absolute;
    right: -3px;
    top: -1px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 50px;
    font-size: 1.1rem;
    background-color: var(--main-black);
    color: #fff;
    text-align: center;
    z-index: 9;
}
/* depth 메뉴 */
.subMenu-wrap {
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 40px 0;
    background-color: #FFF;
    border-bottom: 1px solid #ccc;
    visibility: hidden;
    opacity: 0;
    transition: .15s;
}
.menu-list-wrap > li:hover > .subMenu-wrap {
    visibility: visible;
    opacity: 1;
}
.subMenu-wrap .subMenu {
    width: var(--container-width);
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
}
.subMenu-wrap .subMenu .depth1_title {
    display: inline-block;
    width: 200px;
    font-size: 4rem;
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    vertical-align: top;
}
.subMenu-wrap .subMenu .depth2 {
    position: relative;
    display: inline-block;
    min-height: 160px;
    margin-top: 5px;
}
.subMenu-wrap .subMenu .depth2::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: #ddd;
}
.subMenu-wrap .subMenu .depth2_list {
    width: 150px;
    margin-top: 20px;
}
.subMenu-wrap .subMenu .depth2_list:first-child {
    margin-top: 0;
}
.subMenu-wrap .subMenu .depth2_list a {
    display: inline-block;
    position: relative;
    padding-left: 25px;
    font-size: 1.5rem;
    color: #999;
    line-height: 14px;
    transition: .3s;
}
.subMenu-wrap .subMenu .depth2_list:hover a {
    font-weight: bold;
    color: var(--main-black);
}
.subMenu-wrap .subMenu .depth2_list:hover a::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: #000;
}
.header_dim {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

/* 푸터영역 */
.footer {
    padding: 50px 0;
    background-color: var(--main-black);
}
.footer .footer-wrap {
    display: flex;
    justify-content: space-between;
    max-width: var(--container-width);
    margin: 0 auto;
    font-size: 1.4rem;
    color: #fff;
}
.footer .footer-wrap .footer-logo {
    width: 155px;
    margin-bottom: 45px;
}
.footer .footer-wrap .footer-logo img {
    width: 100%;
}
.footer .footer-wrap address {
    margin-bottom: 50px;
    font-weight: 300;
    line-height: 1.7;
}
.footer .footer-wrap address p span {
    position: relative;
    padding: 0 10px;
}
.footer .footer-wrap address p span:first-child {
    padding-left: 0;
}
.footer .footer-wrap address p span::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 11px;
    background-color: #666;
}
.footer .footer-wrap address p span:last-child::after {
    display: none;
}
.footer .footer-wrap .copyright {
    color: #777;
} 
.footer .footer-wrap .social {
    margin-bottom: 30px;
    text-align: right;
}
.footer .footer-wrap .social a {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-left: 10px;
    text-align: center;
    background-color:#2a2a2a;
    border-radius: 50%;
    color: #fff;
    transition: .3s;
}
.footer .footer-wrap .social a:hover {
    background-color: #eee;
}
.footer .footer-wrap .social i {
    vertical-align: middle;
    font-size: 17px;
    transition: .3s;
}
.footer .footer-wrap .social a:hover i {
    font-weight: bold;
    color: var(--main-black);
}
.footer .footer-wrap .sitemap {
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
}
.footer .footer-wrap .sitemap dl {
    margin-right: 50px;
}
.footer .footer-wrap .sitemap dt {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}
.footer .footer-wrap .sitemap dd a {
    line-height: 2;
    font-weight: 500;
    color: #777;
    transition: .3s;
}
.footer .footer-wrap .sitemap dd:hover a {
    color: #ccc;
}