@charset "utf-8";
/* 공통모듈 CSS - common.css */

:root {
    --main-black: #111;
    --container-width:1580px;
}

html {
    font-size: 10px;
}

.clfix::after {
    display: block;
    content: '';
    clear: both;
}

.hide {
    position: absolute !important;
    left: -99999px !important;
    opacity: 0;
    visibility: hidden;
}

/* 헤더 영역 */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    /* background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1); */
}
.header .header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 25px 0;
}
.header .header-wrap .logo {
    width: 132px;
}
.header .header-wrap .logo img {
    width: 100%;
}
.header .header-wrap .pc-nav {
    margin-left: 90px;
}
.header .header-wrap .pc-nav .menu-list-wrap {
    display: flex;
}
.header .header-wrap .pc-nav .menu-list-wrap .menu-list > a {
    padding: 0 30px;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
}
.header .header-wrap .pc-nav .menu-list-wrap .menu-list:hover > a {
    color: #999;
    transition: .3s;
}
.header .header-wrap .top-icon {
    
}
.header .header-wrap .top-search {
    position: relative;
    display: inline-block;
    width: 220px;
}
.header .header-wrap .top-search .top-input-box {
    width: 100%;
    height: 40px;
    padding: 0 25px;
    border: 0;
    border-radius: 50px;
    box-sizing: border-box;
    /* background-color: #f5f5f5; */
    background-color: #fff;
    font-size: 1.5rem;
}
.header .header-wrap .top-search .top-input-box::placeholder {
    color: #999;
}
.header .header-wrap .top-search .search-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    background-image: url(../images/icon_search.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    font-size: 0;
    cursor: pointer;
}
.header .header-wrap .top-icon a {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 25px;
    background-size: 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.header .header-wrap .top-icon a.user {
    background-image: url(../images/icon_user.png);
}
.header .header-wrap .top-icon a.cart {
    background-image: url(../images/icon_cart.png);
}
.header .header-wrap .top-icon .cart-cnt {
    position: absolute;
    right: -3px;
    top: -1px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 50px;
    font-size: 1.1rem;
    background-color: var(--main-black);
    color: #fff;
    text-align: center;
    z-index: 9;
}

/* 푸터영역 */
.footer {
    padding: 50px 0;
    background-color: var(--main-black);
}
.footer .footer-wrap {
    display: flex;
    justify-content: space-between;
    width: var(--container-width);
    margin: 0 auto;
    font-size: 1.4rem;
    color: #fff;
}
.footer .footer-wrap .left {
    width: 50%;
}
.footer .footer-wrap .right {
    width: 50%;
}
.footer .footer-wrap .footer-logo {
    width: 155px;
    margin-bottom: 50px;
}
.footer .footer-wrap .footer-logo img {
    width: 100%;
}
.footer .footer-wrap address {
    margin-bottom: 50px;
    font-weight: 300;
    line-height: 1.6;
}
.footer .footer-wrap .cs-box {
    text-align: right;
}
.footer .footer-wrap .sitemap {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.footer .footer-wrap .sitemap dl {
    margin-right: 50px;
}
.footer .footer-wrap .sitemap dt {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}
.footer .footer-wrap .sitemap dd a {
    line-height: 2;
    font-weight: 500;
    color: #777;
    transition: .3s;
}
.footer .footer-wrap .sitemap dd:hover a {
    color: #ccc;
}
.footer .footer-wrap .copyright {
    color: #777;
} 