@charset "utf-8";
/* 공통모듈 CSS - common.css */

:root {
    --main-black: #111;
}

html {
    font-size: 10px;
}

.hide {
    position: absolute !important;
    left: -99999px !important;
    opacity: 0;
    visibility: hidden;
}

/* 헤더 css */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    /* background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1); */
}
.header .header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1580px;
    margin: 0 auto;
    padding: 25px 0;
}
.header .header-inner .logo {
    width: 132px;
}
.header .header-inner .logo img {
    width: 100%;
}
.header .header-inner .pc-nav {
    margin-left: 90px;
}
.header .header-inner .pc-nav .menu-list-wrap {
    display: flex;
}
.header .header-inner .pc-nav .menu-list-wrap .menu-list > a {
    padding: 0 30px;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
}
.header .header-inner .pc-nav .menu-list-wrap .menu-list:hover > a {
    color: #999;
    transition: .3s;
}
.header .header-inner .top-icon {
    
}
.header .header-inner .top-search {
    position: relative;
    display: inline-block;
    width: 220px;
}
.header .header-inner .top-search .top-input-box {
    width: 100%;
    height: 40px;
    padding: 0 25px;
    border: 0;
    border-radius: 50px;
    box-sizing: border-box;
    /* background-color: #f5f5f5; */
    background-color: #fff;
    font-size: 1.5rem;
}
.header .header-inner .top-search .top-input-box::placeholder {
    color: #999;
}
.header .header-inner .top-search .search-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    background-image: url(../images/icon_search.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    font-size: 0;
    cursor: pointer;
}
.header .header-inner .top-icon a {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 25px;
    background-size: 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
}
.header .header-inner .top-icon a.user {
    background-image: url(../images/icon_user.png);
}
.header .header-inner .top-icon a.cart {
    background-image: url(../images/icon_cart.png);
}
.header .header-inner .top-icon .cart-cnt {
    position: absolute;
    right: -3px;
    top: -1px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 50px;
    font-size: 1.1rem;
    background-color: var(--main-black);
    color: #fff;
    text-align: center;
    z-index: 9;
}