@charset "utf-8";
/* 폰트 CSS - font.css */

@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* 
    font-family: 'Squada One', sans-serif;
    font-family: 'Abel', sans-serif;
    font-family: 'Rajdhani', sans-serif;
*/