@charset "utf-8";
/* 메인페이지 CSS - main.css */

/* 리셋,공통 외부 CSS 합치기 */
@import url(./style.css);

/******************** 인트로  ********************/
#intro .intro-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#intro .intro-logo {
    width: 350px;
}
#intro .intro-logo img {
    width: 100%;
}
#intro .intro-box {
    text-align: center;
    font-family: "Rajdhani";
}
#intro .intro-fade {
    /* display: none; */
}
#intro .intro-text {
    line-height: 1.2;
    font-size: 2.2rem;
    letter-spacing: -0.5px;
}
#intro .intro-text span {
    font-size: 6.5rem;
    font-weight: 700;
    letter-spacing: 2px;
}
#intro .intro-percent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    margin-top: 240px;
    color: #888;
    font-size: 2.2rem;
    font-weight: 600;
    border: 3px solid #000;
    border-radius: 100%;
}

/* 배너 화살표 css */
.controller-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;
    transition: .3s;
}
.controller-btn.next-btn {
    right: 0;
    background-image: url(../images/main/arrow_next.png);
}
.controller-btn.prev-btn {
    left: 0;
    background-image: url(../images/main/arrow_prev.png);
}

/* 메인비주얼 css */
/* .main-visual {
    padding-top: 90px;
} */
.main-visual.swiper-container {
    position: relative;
    height: 100vh;
}
.main-visual li {
    background-color: #f0f0f0;
}
.main-visual li.pf {
    background-color: #d7cec5;
}
.main-visual .bg-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75vw;
    max-width: 80%;
    height: 75vw;
    border-radius: 100%;
    background-color: var(--main-black);
    opacity: 0.2;
}
.main-visual .main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin-top: -175px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.main-visual .swiper-slide .main-title {
    opacity: 0;
}
.main-visual .swiper-slide-active .main-title {
    animation: visualTxtTop 0.8s 0.5s ease-in-out forwards;
}
.main-visual .main-title p {
    margin-bottom: 20px;
    font-size: 2.5rem;
}
.main-visual .main-title .bg-txt {
    font-size: 22rem;
    color: rgba(255, 255, 255, 0.9);
}
.main-visual .shoes-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    margin-top: 45px;
}
.main-visual .shoes-img img {
    width: 100%;
}
.main-visual .swiper-slide .shoes-img {
    opacity: 0;
}
.main-visual .swiper-slide-active .shoes-img {
    animation: visualImgTop 0.6s 1.3s ease-in-out forwards;
}
.main-visual .morebtn {
    position: absolute;
    bottom: 11%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.main-visual .swiper-slide .morebtn {
    opacity: 0;
}
.main-visual .swiper-slide-active .morebtn {
    animation: visualBtn 0.6s 1.3s ease-in-out forwards;
}
.main-visual .prev-btn {
    left: 11%;
    animation: visualArrowLeft 0.6s ease-in-out infinite alternate;
}
.main-visual .next-btn {
    right: 11%;
    animation: visualArrowRight 0.6s ease-in-out infinite alternate;
}
/* 메인비주얼 애니메이션 */
@keyframes visualTxtTop {
    0% {
        transform: translate(-50%, -30%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}
@keyframes visualImgTop {
    0% {
        transform: translate(-50%, -40%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}
@keyframes visualBtn {
    0% {
        transform: translate(-50%, 50%);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, 0%);
        opacity: 1;
    }
}
@keyframes visualArrowLeft {
    0% {
        left: 11%;
    }
    100% {
        left: 9.5%;
    }
}
@keyframes visualArrowRight {
    0% {
        right: 11%;
    }
    100% {
        right: 9.5%;
    }
}

/* 섹션 영역 */
.section-title {
    margin-bottom: 30px;
    font-size: 5.5rem;
    font-weight: bold;
    line-height: 1.2;
    text-transform: uppercase;
    font-family: 'Montserrat';
    letter-spacing: -.8px;
}
.section-title.invisible {
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
.main-sec {
    position: relative;
    width: 100%;
    max-width: var(--container-width);
    margin: 120px auto 0;
    background-color: #fff;
}

/* 배너 감싸는 영역 css */
.banner-wrap {
    position: relative;
}

/* 베스트 영역 */
.main-sec.main-best {
    max-width: 100%;
}
.main-best .section-title {
    max-width: var(--container-width);
    margin: 0 auto;
}
.main-best .best-wrap {
    width: calc(100% - ((100% - var(--container-width))/2));
    margin-left: calc((100% - var(--container-width))/2);
    overflow: hidden;
}
.main-best .swiper-container {
    padding-right: 40px;
    padding-bottom: 40px;
}
.main-best .swiper-pagination {
    top: auto;
    bottom: 0;
    height: 3px;
    background-color: var(--gray-color);
}
.main-best .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background-color: var(--main-black);
}
.main-best .btn-box {
    position: relative;
    bottom: 45px;
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    text-align: right;
}
.main-best .item-btn {
    width: 35px;
    height: 35px;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
}
.main-best .item-btn.swiper-button-disabled {
    opacity: .3;
}
.main-best .prev-btn {
    background-image: url(../images/main/ico_arrow_prev_b.png);
}
.main-best .next-btn {
    margin-left: 20px;
    background-image: url(../images/main/ico_arrow_next_b.png);
}

/* 텍스트 배너 */
.main-loop {
    margin-top: 120px;
}
.main-loop .loop-wrap {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    font-size: 5.2rem;
    font-weight:bold;
    color: #fff;
    padding: 55px 0;
    background-color: var(--main-black);
}
.main-loop .loop-text {
  animation: marquee 9s linear infinite;
  padding-right: 70px;
}

/* 트렌드 스타일 */
.main-sec .tab-wrap .tab-btn ul {
    display: flex;
    margin-bottom: 40px;
}
.main-sec .tab-wrap .tab-btn li {
    width: auto;
}
.main-sec .tab-wrap .tab-btn li a {
    display: block;
    padding: 12px 18px;
    border-radius: 50px;
    font-size: 1.7rem;
    font-weight: 500;
    color: #fff;
    background-color: var(--gray-color);
}
.main-sec .tab-wrap .tab-btn li.active a {
    background-color: var(--main-black);
}
.col-4 ul {
    display: flex;
    flex-wrap: wrap;
}
.col-4 ul li {
    width: 23.5%;
    margin-right: 2%;
    margin-top: 40px;
}
.col-4 ul li:nth-child(-n+4) {
    margin-top: 0;
}
.col-4 ul li:nth-child(4n) {
    margin-right: 0;
}
.img-wrap {
    position: relative;
    padding-top: 100%;
    overflow: hidden;
}
.img-wrap img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-wrap:hover img {
    transform: scale(1.05);
    transition: all .5s;
}
.prod-info-box {
    margin-top: 20px;
    font-size: 1.6rem;
}
.prod-info-box .prod-name {
    margin-top: 12px;
    font-size: 1.5rem;
    color: #666;
}
.prod-info-box .prod-price {
    margin-top: 17px;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: -.8px;
}
.prod-info-box .price-unit {
    margin-left: 2px;
    font-size: 1.5rem;
    font-style: normal;
}

/* 비디오 영역 */
.main-sec.main-video {
    max-width: 100%;
}
.main-video .intro-mv-img {
    position: relative;
    width: 100%;
    /* padding-top: 38%; */
    overflow: hidden;
    height: 720px;
}
.main-video .intro-mv-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-video .intro-mv-img video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-video .intro-mv-img.off .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 130px;
    line-height: 130px;
    text-align: center;
    background-color: #fff;
    border-radius: 100%;
    font-size: 1.6rem;
    font-weight: bold;
    border: 2px solid var(--main-black);
    cursor: pointer;
}
.main-video .flow-wrap {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.7rem;
    font-weight:bold;
    font-style: italic;
    color: #fff;
    padding: 10px;
    background-color: var(--main-black);
}
.main-video .flow-text {
  animation: marquee 3s linear infinite;
  padding-right: 70px;
}
.flow-container.reverse .flow-text {
    animation: marquee-r 3s linear infinite;
}
@keyframes marquee {
    from {transform: translateX(0);}
    to {transform: translateX(-100%);}
}
@keyframes marquee-r {
    from {transform: translateX(-100%);}
    to {transform: translateX(0);}
}

/* 브랜드 영역 */
.main-brand .banner-wrap {
    padding-bottom: 25px;
}
.main-brand li {
    position: relative;
}
.main-brand li .imgSet {
    position: relative;
    width: 100%;
    padding-top: 60%;
    overflow: hidden;
}
.main-brand li .imgSet img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-brand .brand-info {
    padding:30px 20px;
}
.main-brand .brand-info dt {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: bold;
}
.main-brand .brand-info dd {
    font-size: 1.7rem;
    font-weight: 500;
}
.main-brand .controller-btn {
    width: 42px;
    height: 42px;
    margin-top: -40px;
}
.main-brand .prev-btn {
    left: -60px;
    background-image: url(../images/main/ico_arrow_prev.png);
}
.main-brand .prev-btn:hover {
    background-image: url(../images/main/ico_arrow_prev_b.png);
}
.main-brand .next-btn {
    right: -60px;
    background-image: url(../images/main/ico_arrow_next.png);
}
.main-brand .next-btn:hover {
    background-image: url(../images/main/ico_arrow_next_b.png);
}
.main-brand .swiper-pagination {
    bottom: 0px;
    width: 100%;
}
.main-brand .swiper-pagination-bullet {
    width: 18px;
    height: 5px;
    margin: 0 3px;
    background: #ccc;
    border-radius: 0;
    opacity: 1;
    outline: 0;
}
.main-brand .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: var(--main-black)
}

/* 혜택 영역 */
.main-benefit li img {
    width: 100%;
}
