@charset "utf-8";
/* 메인페이지 CSS - main.css */

/* 리셋,공통 외부 CSS 합치기 */
@import url(./reset.css);
@import url(./core.css);
@import url(./common.css);

/* 더보기 버튼 */
#main .moreBtn {
    position: absolute;
    right: 3.1vw;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8rem;
    color: #667475;
    font-weight: 500;
    background-image: url(../images/moreBtn.png);
    background-repeat: no-repeat;
    padding-right: 50px;
    background-position: right 7px center;
    transition: .3s;
    opacity: .7;
}
#main .moreBtn:hover {
    opacity: 1;
    background-position: right 0 center;
}

/* 비주얼영역 */
.mainVisual {
    width: 100%;
    height: 100vh;
}
.mainVisual .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mainVisual > .swiper-pagination {
    left: 60px;
    bottom: 80px;
    width: auto;
}
.mainVisual > .swiper-pagination > .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 8px;
    opacity: 1;
    background-color: transparent;
    border: 1px solid var(--main-black);
    box-sizing: border-box;
}
.mainVisual > .swiper-pagination > .swiper-pagination-bullet-active {
    background-color: var(--main-black);
}

/* 벽지 살펴보기 영역 */
.con1 {
    width: 100%;
    height: calc(100vh + 1600px);
    background-color: #f6f5f3;
}
.con1 .slidePg {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
}
.con1 .top-txt {
    position: relative;
    padding: 3.1vw;
    color: #667475;
    font-weight: 500;
    opacity: .7;
}
.con1 .slidePg ul {
    position: relative;
    left: 0;
    display: flex;
    gap: 0 60px;
    width: calc(100vw + 1600px);
    /* height: 100%; */
    padding-left: 30vw;
    transition: 0.4s ease-out;
}
.con1 .slidePg ul li{
    width: 490px;
    height: 690px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .5s ease-in-out;
}
.con1 .slidePg ul li:nth-child(1) {
    background-image: url(../images/con1-01-bg.png);
}
.con1 .slidePg ul li:nth-child(2) {
    background-image: url(../images/con1-02-bg.png);

}
.con1 .slidePg ul li:nth-child(3) {
    background-image: url(../images/con1-03-bg.png);

}
.con1 .slidePg ul li:nth-child(4) {
    position: relative;
    background-image: url(../images/con2-01.png);
    transition: all .5s ease, width 1s ease 1s;
}
.con1 .slidePg ul li .title {
    font-size: 22px;
    font-weight: 500;
    margin: 3.5vw 0 2.5vw;
}
.con1 .slidePg ul li .img-box {
    width: 295px;
    height: 350px;
    margin: 0 auto 2vw;
}
.con1 .slidePg ul li .img-box img {
    width: 100%;
}
.con1 .slidePg ul li .txt {
    font-size: 16px;
    opacity: .8;
}
.con1 .slidePg ul li:last-child.on {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%,-50%);
}
.con1 .slidePg ul li .txtbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    border: 1px solid rgba(255,255,255,.5);
    width: 290px;
    height: 350px;
}
.con1 .slidePg ul li .txtbox .desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2rem;
}

/* 스타일링 팁 영역 */
.con3 {
    position: relative;
    width: 100%;
    height: 1839px;
    background-color: #fff;
    padding-top: 180px;
    box-sizing: border-box;
}
.con3 .title {
    position: relative;
    text-align: center;
    color: #667475;
}
.con3 .title p {
    font-size: 10rem;
    text-transform: capitalize;
}
.con3 .title .tipBtn {
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    font-size: 1.6rem;
    border: 1px solid rgba(102, 116, 117, .5);
    border-radius: 50%;
    padding: 15px 40px;
    transition: .3s ease;
    color: #667475;
    background-color: #fff;
}
.con3 .title .tipBtn:hover {
    background-color: #667475;
    color: #fff;
}
/* 스타일링 팁 영역 이미지들 */
.con3 .hover-area .imgHover {
    position: absolute;
    transition: .6s ease;
    filter: drop-shadow(-10px 10px 21px rgba(0, 0, 0, .2));
}
.con3 .hover-area .tipImg1 {
    width: 354px;
    height: 482px;
    top: 355px;
    left: 0;
    transform: none;
}
.con3 .hover-area .tipImg2 {
    width: 567px;
    height: 364px;
    bottom: 325px;
    left: 60px;
}
.con3 .hover-area .tipImg3 {
    width: 464px;
    height: 593px;
    top: 720px;
    left: 50%;
    transform: translateX(-50%);
}
.con3 .hover-area .tipImg4 {
    width: 316px;
    height: 385px;
    top: 515px;
    right: 330px;
}
.con3 .hover-area .tipImg5 {
    width: 324px;
    height: 288px;
    top: 285px;
    right: -45px;
    filter: drop-shadow(-7px 7px 5px rgba(0, 0, 0, .10));
}
.con3 .hover-area .tipImg6 {
    width: 376px;
    height: 457px;
    top: 670px;
    right: -125px;
    filter: drop-shadow(-10px 7px 5px rgba(0, 0, 0, .10));
}
.con3 .hover-area .imgHover img {
    position: relative;
    top: 0;
    transition: .6s ease;
    width: 100%;
}
.con3 .hover-area .imgHover:hover img {
    top: -10px;
}
/* 스타일링 팁 영역 문구 */
.con3 .txt-box {
    position: absolute;
    padding: 30px;
    box-sizing: border-box;
    font-weight: 300;
    z-index: 1;
    box-shadow: -10px 10px 11px rgba(0,0,0,.1);
    transition: .6s ease;
}
.con3 .txt-box:hover {
    transform: scale(1.03);
}
.con3 .txt1 {
    top: 500px;
    left: 300px;
    width: 320px;
    height: 480px;
    background-color: #D3B887;
    color: #fff;
}
.con3 .txt1 img {
    position: absolute;
    left: 30px;
    bottom: 40px;
    width: 136px;
}
.con3 .txt2 {
    bottom: 375px;
    right: 405px;
    width: 425px;
    padding-top: 170px;
    background-color: #EEEEE7;
    color: #555;
}
.con3 .small-box {
    position: absolute;
    right: 60px;
    bottom: 195px;
}
.con3 .small-box p {
    margin-top: 30px;
    font-size: 2.5rem;
    opacity: .5;
    transition: .2s ease;
}
.con3 .small-box:hover p {
    opacity: .9;
}
/* 스타일링 팁 영역 svg */
.con3 svg {
    width: 920px;
    position: absolute;
    top: 0;
    left: 50%;
    stroke-dasharray: 4780;
    stroke-dashoffset: 0;
    /* animation: con4svg 4s ease; */
    /* animation-fill-mode: forwards; */
}
/* 스타일링 팁 영역 svg 애니메이션 */
/* @keyframes con4svg {
    0% {
        stroke-dashoffset: -4780;
    }
    100% {
        stroke-dashoffset:0;
    }
} */


/*  뉴스 영역 */
.con4 {
    position: relative;
    width: 100%;
    background-color: #f7f7f7;
    padding-bottom: 7vw;
}
.con4 .top-tit {
    position: relative;
    padding: 100px 0;
    text-align: center;
}
.con4 .top-tit span {
    font-size: 2rem;
    text-transform: capitalize;
    color: #ADB4B5;
}
.con4 .top-tit p {
    font-size: 10rem;
    text-transform: uppercase;
    line-height: 1.1;
}
.news-slide .swiper-wrapper {
    align-items: center;
}
.news-slide .img-box {
    position: relative; 
    width: 100%; 
    padding-top: 100%; 
    overflow: hidden;
}
.news-slide .swiper-slide:nth-child(2n) .img-box {
    padding-top: 70%; 
}
.news-slide .img-box img {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}
.news-slide .txt-box {
    margin-top: 20px;
}
.news-slide .txt-box p {
    font-weight: 500;
}
.news-slide .txt-box .date {
    font-size: 1.6rem;
    color: #a7a7a7;
    margin-top: 8px;
}